In [ ]:
if 5<6
    print("Hello")

In [18]:
print(int("12a"))
#Value Error: It is raised when a built-in 
#method or operation receives an argument
# that has the right data type but mismatched
# or inappropriate values.

ValueError: invalid literal for int() with base 10: '12a'

In [19]:
import statistic

ModuleNotFoundError: No module named 'statistic'

In [23]:
a = 20
b = 6
print(a//b)

3

In [24]:
a/0

ZeroDivisionError: division by zero

In [25]:
a = [12,89]
print(a[3])

IndexError: list index out of range

In [26]:
a = 90
print(abc)

NameError: name 'abc' is not defined

In [27]:
if 5<6:
    print("Here")
        print("there")

IndentationError: unexpected indent (1859443553.py, line 3)

In [28]:
a = 90
b = "hello"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
i=1
f = 3.0**i
for i in range(100):
    print(i, f)
    f = f ** 2

0 3.0
1 9.0
2 81.0
3 6561.0
4 43046721.0
5 1853020188851841.0
6 3.4336838202925124e+30
7 1.1790184577738583e+61
8 1.3900845237714473e+122
9 1.9323349832288915e+244

OverflowError: (34, 'Result too large')

In [1]:
def fun1(denom):
    count = 0
    try:
        numerator=50
        denom = int(denom)
        quotient=(numerator/denom)
        count += 1

    except ZeroDivisionError:
        count += 2
    except ValueError:
        count += 3
    except TypeError:
        count += 4
    except:
        count += 9
    finally:
        count += 5
    print(count)
fun1("0")
# fun1("ab")

SyntaxError: default 'except:' must be last (1168099898.py, line 8)

In [ ]:
def fun1(denom):
    count = 0
    try:
        numerator=50
        denom = int(denom)
        if(denom > 50):
            raise NameError
        elif(denom < -1):
            raise TypeError
        quotient=(numerator/denom)
        count += 1
    except ZeroDivisionError:
        count += 2
    except ValueError:
        count += 3
    except TypeError:
        count += 4
    except:
        count += 5
    else: ##Executed only when there is no error in try block
        count += 6
    finally:
        count += 7
    print(count)
# fun1(60)
# fun1(30)
# fun1(5)

In [ ]:
print("use of assert statement")
def negativecheck(number):
    assert(number>=0), "OOPS... Negative Number"
    print(number*number)
# print (negativecheck(100))
# print (negativecheck(-350))

In [ ]:
count = 0
def fun1(denom):
    global count
    try:
        numerator=50
        denom = int(denom)
        count += 1
    except ZeroDivisionError:
        count += 3
    except TypeError:
        count += 5
    finally:
        count += 7
try:
    fun1(30)
    # fun1(0)
    # fun1("ab")
except ValueError:
    count += 9
finally:
    count += 11
print(count)

In [ ]:
print (" Learning Exceptions...")
try:
    num1= int(input ("Enter the first number"))
    num2=int(input("Enter the second number"))
    quotient=(num1/num2)
    print ("Both the numbers entered were correct")
except _: # to enter only integers
    print (" Please enter only numbers")
except _: # Denominator should not be zero
    print(" Number 2 should not be zero")
else:
    print(" Great .. you are a good programmer")
_: # to be executed at the end
    print(" JOB OVER... GO GET SOME REST")

In [ ]:
def fun(param_one):
    print("Inside function",param_one)
    list2 = [12,34,45,10]
    if(param_one not in list2):
        list2.append(-30)
    else:
        list2*2
        list2.append(60)
    return list2 #[12,34,45,10,12,34,45,10,60]
out1 = fun(30) #out1 = [12,34,45,10,-30]
print(out1)
out2 = fun(12) #out2 = [12,34,45,10,12,34,45,10,60]
print(out2)
print(out1[1] + out2[-1])

In [ ]:
list1 = [12,45,67,87]
iteration = 0
for i in list1:
    iteration += 1
    print("Iteration: ",iteration,"element: ",i )

list1 = [12,45,67,87]
for i in range(0,len(list1)): #range(0,4) [0,1,2,3]
    print(i,list1[i]) #0 12

In [ ]:
# import mysql.connector as mytor

#To delete rows where date of purchase whre date of purchase was before 2nd
# December 2022

# change the name of the books to upper case
# update books set name = upper(name)

In [14]:
def fun(a,b,c=200):
    print(a,b,c)
fun(30,50,60)

30 50 60

In [20]:
def fun(a,b,c=200):
    print(a,b,c)
fun(b=50,a=50,c=20)

50 50 20

In [22]:
def fun(a,b,c=200):
    print(a,b,c)
fun(50,c=50,b=20)

50 20 50

In [17]:
def fun(a,b=100,c):
    print(a,b,c)
fun(50,b=50,a=20)

SyntaxError: non-default argument follows default argument (1967165135.py, line 1)

In [18]:
def fun(a,b,c=200):
    print(a,b,c)
fun(50,b=50,a=20)

TypeError: fun() got multiple values for argument 'a'

In [19]:
def fun(a,b,c=200):
    print(a,b,c)
fun(50,c=50,a=20)

TypeError: fun() got multiple values for argument 'a'